@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --verde-escuro: #294b29;
  --verde-musgo: #50623a;
  --verde-oliva: #789461;
  --verde-pastel: #dbe7c9;
  --preto: #000000;
  --background: #fbfbfb;
  --background-dark: #1e1e1e;
  --card-background: #f8f8ff;
  --card-background-stroke: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  /* Modo escuro */
.dark-mode {
  --background: #1E1E1E;
  --preto: #ffffff;
  --texto: #ffffff;
  --link: #90caf9;
}

.dark-mode .titulo {
  background: linear-gradient(to right, #789461, #50623a, #294b29, #294b29);
}

.dark-mode .texto {
  color: white;
}

.dark-mode .btn-saiba-mais {
  background: linear-gradient(to right, #789461, #50623a, #294b29, #294b29);
  color: white;
}

.dark-mode .btn-saiba-mais:hover {
  color: #c1c1c1;
}