@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --verde-escuro: #294b29;
  --verde-musgo: #50623a;
  --verde-oliva: #789461;
  --verde-pastel: #dbe7c9;
  --preto: #000000;
  --background: #fbfbfb;
  --background-dark: #1e1e1e;
  --card-background: #f8f8ff;
  --card-background-stroke: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.second-landing-page {
    padding: 20% 0;
    background-color: #789461;
    height: 880px;
  }
  
  .second-landing-page > div {
    display: absolute;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-left: 17%;
    margin-bottom: 3%;
  }
  
  .texto-destaque {
    font-size: 4.5rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: var(--verde-escuro);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--verde-escuro);
    line-height: 1;
    margin-bottom: 3.5%;
  }
  
  .texto-destaque span {
      color: #ffffff;
    }
  
  .second-texto {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }
  
  .btn-contrate {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #477240; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
  }
  
  .btn-contrate:hover {
    background-color: #183c18;
  }