@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --verde-escuro: #294b29;
  --verde-musgo: #50623a;
  --verde-oliva: #789461;
  --verde-pastel: #dbe7c9;
  --preto: #000000;
  --background: #fbfbfb;
  --background-dark: #1e1e1e;
  --card-background: #f8f8ff;
  --card-background-stroke: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Open Sans", "Montserrat", "Mulish", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.App-header {
  position: relative;
  display: flex;
}

/* BOTÕES DA NAVIGATION */

.btn-user {
  display: flex;
  margin: 3vh;
  align-items: center;
  margin-left: 10vw;
}

.btn-Cadastrar {
  background: none;
  border: none;
  outline: none;
  font-family: "Open Sans";
  font-weight: 700;
  margin-right: 2vw;
}

.btn-Login {
  background: var(--verde-musgo);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  width: 6vw;
  height: 3.5vh;
  font-family: "Open Sans";
  font-weight: 500;
}


